.produto .conteiner-imagem {
    text-align: initial;
}
.produto .conteiner-imagem img {
    max-width: 100%;
    max-height: 100%;
}
.zm-viewer img {
    max-width: inherit;
    width: 610px !important;
    height: 465px !important;
}

.Edit_Img {
    width: calc(50% - 20px) !important;
    height: auto !important;
}
.Edit_Comprar {
    width: calc(50% - 20px) !important;
}

.Icone_Carrinho a {
    display: flex;
}
.carrinho>a strong {
    font-size: 11px;
    margin: 0;
    line-height: normal;
    background: #ff7533;
    border-radius: 33px !important;
    width: 15px;
    position: absolute;
    right: 18px;
    text-align: center;
    font-family: 'Roboto Slab';
}
.carrinho {
    border-width: 0px;
    border-style: unset;
    border-color: unset;
    position: unset;
    display: flex;
}

.breadcrumbs.borda-alpha {
    margin: 0px;
    padding: 0px 0px 2px 0px;
    display: flex;
    border: 0px;
}

.breadcrumbs ul {
    margin: 0;
    display: flex;
    float: none !important;
    font-family: 'Roboto Slab';
}

.breadcrumbs ul li {
    float: none !important;
    border-left: 0px !important;
}

.breadcrumbs ul li a {
    color: #fff;
    padding: 0 5px;
    font-family: 'Roboto';
    text-decoration: none;
    user-select: none;
}
.row-fluid.Container_Imagem_Do_Produto_Informacoes_Comprar.span6{
    width:calc(50% - 20px) !important;
    margin: 21px 0px 0px 0px !important;
}

#carouselImagem .flex-viewport {
    margin: 0;
}
.flex-centered .slides {
    width: 100% !important;
    text-align: center;
    background: transparent;
}
.flexslider .slides li {
    height: 100%;
    background: transparent !important;
}

.borda-principal, .atributos ul li a:hover, .atributos ul li.active a, .tema-scuro .nav-tabs li.active a, .elastislide-carousel ul li.active a {
    border-color: #adaaa5;
}
