.produto .conteiner-imagem {
    text-align: initial;
}
.produto .conteiner-imagem img {
    max-width: 100%;
    max-height: 100%;
    width: 640px;
    height: 360px;
}
.zm-viewer img {
    max-width: inherit;
    width: 610px !important;
    height: 465px !important;
}

.Edit_Img {
    width: calc(50% - 132px) !important;
    height: auto !important;
    margin: 0px 20px 0px 0px;
}
.Edit_Comprar {
    width: calc(50% - 20px) !important;
    height: 490px !important;
    margin: 21px 0px 0px 0px !important;
}

.Icone_Carrinho a {
    display: flex;
}
.carrinho>a strong {
    font-size: 11px;
    margin: 0;
    line-height: normal;
    background: #ff7533;
    border-radius: 33px !important;
    width: 15px;
    position: absolute;
    right: 18px;
    text-align: center;
    font-family: 'Roboto Slab';
}
.carrinho {
    border-width: 0px;
    border-style: unset;
    border-color: unset;
    position: unset;
    display: flex;
}

.breadcrumbs.borda-alpha {
    margin: 0px;
    padding: 0px 0px 2px 0px;
    display: flex;
    border: 0px;
}

.breadcrumbs ul {
    margin: 0;
    display: flex;
    float: none !important;
    font-family: 'Roboto Slab';
}

.breadcrumbs ul li {
    float: none !important;
    border-left: 0px !important;
}

.breadcrumbs ul li a {
    color: #fff;
    padding: 0 5px;
    font-family: 'Roboto';
    text-decoration: none;
    user-select: none;
}
.row-fluid.Container_Imagem_Do_Produto_Informacoes_Comprar.span6{
    width:calc(50% - 20px) !important;
}

#carouselImagem .flex-viewport {
    margin: 0;
}
.flex-centered .slides {
    width: 100% !important;
    text-align: center;
    background: transparent;
}
.flexslider .slides li {
    height: 100%;
    background: transparent !important;
}

.borda-principal, .atributos ul li a:hover, .atributos ul li.active a, .tema-scuro .nav-tabs li.active a, .elastislide-carousel ul li.active a {
    border-color: #adaaa5;
}

.produto .nome-produto {
    font-size: 30px;
    line-height: normal;
    margin: 0;
    font-family: 'Roboto Slab';
    color: #fff;
}

span.cor-secundaria {
    display: grid;
    color: #bfbfbf;
}

.produto .codigo-produto {
    font-size: 14px;
    padding: 0;
    border-bottom: 0;
    margin-bottom: 20px;
}

.codigo-produto .cor-secundaria b {
    font-weight: normal;
}

.Codigo_Produto {
    display: grid;
    color: #bfbfbf;
}

.Editar_div_Comprar {
    height: 100%;
}

.info-principal-produto {
    height: 20%;
}

.atributos {
    height: 20%;
}
.Editar_div_Comprar .acoes-produto {
    height: calc(60% - 22px);
}
.Espacar_Preco_E_Botao{
    height: 25%;
}
.comprar {
    float: left !important;
}
.pull-right a{
    color: white;
    text-decoration: none;
}

.disponibilidade-produto{

	font-size:14px !important;
}

.disponibilidade-produto b{
	color:#30e342;
}
